* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;

}

body {

    background-image: url("../img/space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


#wrapper {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    max-width: 40rem;
    background-image: linear-gradient(to right top, #051937, #092f60, #0d478b, #1060ba, #127aeb);
    position: relative;
    padding: 10rem 0;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, .1);
    border-radius: 2rem;
    z-index: 1;
}

.form-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background-image: linear-gradient(to right top, #051937, #092f60, #0d478b, #1060ba, #127aeb);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: -1;                                    /*to have form on top */
}

.form-heading {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 5.5rem;
    position: absolute;
    top: 3.5rem;
    left: 10rem;
}

form {
    transform: translateX(10rem);
    padding: 2rem 0;
    background-color: whitesmoke;
    border-radius: 2rem;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, .1);
}

.input-group {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;                       /*icons to be perfectly lined up with inputs*/
    align-items: baseline;
}

.input-group input {
    position: relative;
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    font-size: 2rem                     /*font size bigger for input*/;
    color: #6E96B5;
}

/* now to increase some space between icons and input, make icons a little bit big*/
/*using direct child selector so that CSS doesn't get applied to button as well (that telegram one) >*/

.input-group > i {
    font-size: 3rem;
    margin-right: 2rem;
    color: #6E96B5;
}

.input-group .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 1px;
}

.input-group .bar::before {
    content: '';
    position: absolute;
    background-color: #6c80b1;
    width: 0;
    height: 2px;
    transition: width 950ms;
}

/* Now to get a line which stretches out when clicking on input */
/*When input is focused the bar will extend to 100% of width*/
/* to get that effect on bar we need transition*/

.input-group input:focus + .bar::before {
    width: 100%;

}

.input-group button {
    margin: 3rem auto;                  /* it'll be in middle now*/
    padding: 1rem 7rem;                 /* to make it bigger*/
    background-image: linear-gradient(to left top, #051937, #092f60, #0d478b, #1060ba, #127aeb);
    border: none;                       /*get rid of border*/
    font-size: 2.5rem;
    color: white;
    cursor: pointer;                    /* to make it look like a link when you hover over it(on button)*/
    border-radius: 3rem;                /*for round corners*/

}

/*now for hover effect + focus effect*/

.input-group button:focus, .input-group button:hover {
    background-image: linear-gradient(to right top, #051937, #092f60, #0d478b, #1060ba, #127aeb);
}

.switch-login {
    text-align: center;

}

/*Styling the link*/

.switch-login a {
    text-decoration: none;
    color: dimgrey;
    font-size: 1.7rem;


}

.switch-login a span {
    color: darkblue;
}

.switch-login a span:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid navy;
}

/*To make it responsive*/

@media screen and(max-width: 750px) {

    .form-container::before {
        height: 10rem;
    }

    .form-heading {
        left: 50%;
        transform: translateX(-50%);
    }

    form {
        border-radius: initial;
        transform: initial;
        box-shadow: none;
    }
}